.card {
    overflow: hidden; /* Ensures that content inside the card does not overflow */
  }
  
  .card-body {
    height: calc(100% - 41px); /* Adjusts height to accommodate card-header and maintain card-body's scrollable area */
    overflow-y: auto; /* Enables vertical scrolling when content exceeds card-body height */
  }
  
  .card-button {
    transition: transform 0.3s ease;
    display: inline-block;
    margin-bottom: 10px;
    white-space: nowrap; /* Prevents button text from wrapping */
  }
  
  .card-button:hover {
    transform: scale(1.1);
    z-index: 1; /* Ensures hovered button appears on top of other buttons */
  }
  