.custom-toast-error {
  background-color: #dc3545 !important; /* Bootstrap red color */
  color: white;
  display: flex;
  align-items: center;
}

.custom-toast-error .Toastify__close-button {
  color: white !important;
}

.custom-toast-error .custom-toast-icon {
  margin-right: 10px;
  font-size: 20px;
  color: white;
}

/* customToastifyStyles.css */
.toastify-blue {
  background-color: #007bff; /* Blue background */
  color: #ffffff; /* White text */
}

.toastify-blue .Toastify__toast-body {
  color: #ffffff; /* White text */
}

.toastify-blue .Toastify__progress-bar {
  background: #0056b3; /* Darker blue for progress bar */
}

.toastify-white {
  background-color: #ffffff; /* White background */
  color: #007bff; /* Blue text */
  border: 1px solid #007bff; /* Blue border */
}

.toastify-white .Toastify__toast-body {
  color: #007bff; /* Blue text */
}

.toastify-white .Toastify__progress-bar {
  background: #0056b3; /* Darker blue for progress bar */
}
/* ------------------------------------------------------------------------------------------- */
/* CSS for eye icon for password */
.position-relative {
  position: relative;
}

.password-container {
  position: relative;
}

.password-icon {
  position: absolute;
  top: 50%;
  right: 12px; /* Adjust as needed */
  transform: translateY(-50%);
  cursor: pointer;
  color: #007bff; /* Bootstrap primary color or adjust as needed */
  font-size: 1.25em; /* Adjust size as needed */
  transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition for icon */
}

/* Add a subtle animation when the icon is clicked */
.password-icon.active {
  transform: translateY(-50%) scale(1.2); /* Scale up icon */
}

/* Hover effect for icon */
.password-icon:hover {
  color: #0056b3; /* Darker shade for hover effect */
}

/* Add keyframes for smooth icon transition */
@keyframes iconFadeIn {
  from {
      opacity: 0;
      transform: scale(0.8);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

/* Apply the animation */
.password-icon {
  animation: iconFadeIn 0.3s ease;
}
