/* customToastifyStyles.css */

/* General Toast Style Adjustments */
.Toastify__toast {
  font-family: Arial, sans-serif;
}

/* Blue Toast */
.toastify-blue {
  background-color: #007bff !important; /* Blue background */
  color: #ffffff !important; /* White text */
}

.toastify-blue .Toastify__toast-body {
  color: #ffffff; /* White text */
}

.toastify-blue .Toastify__progress-bar {
  background: #003c7c !important; /* Darker blue for progress bar */
}

/* Green Toast (Success) */
.toastify-green {
  background-color: #28a745; /* Green background */
  color: #ffffff; /* White text */
}

.toastify-green .Toastify__toast-body {
  color: #ffffff; /* White text */
}

.toastify-green .Toastify__progress-bar {
  background: #218838; /* Darker green for progress bar */
}

/* Red Toast (Error) */
.toastify-red {
  background-color: #dc3545; /* Red background */
  color: #ffffff; /* White text */
}

.toastify-red .Toastify__toast-body {
  color: #ffffff; /* White text */
}

.toastify-red .Toastify__progress-bar {
  background: #c82333; /* Darker red for progress bar */
}


/* ------------------------------------------------------------------------------------------- */
/* CSS for eye icon for password */
.position-relative {
  position: relative;
}

.password-container {
  position: relative;
}

.password-icon {
  position: absolute;
  top: 15px;
  right: 27px; /* Adjust as needed */
  transform: translateY(-50%);
  cursor: pointer;
  color: #007bff; /* Bootstrap primary color or adjust as needed */
  font-size: 1.25em; /* Adjust size as needed */
  transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition for icon */
}

/* Add a subtle animation when the icon is clicked */
.password-icon.active {
  transform: translateY(-50%) scale(1.2); /* Scale up icon */
}

/* Hover effect for icon */
.password-icon:hover {
  color: #0056b3; /* Darker shade for hover effect */
}

/* Add keyframes for smooth icon transition */
@keyframes iconFadeIn {
  from {
      opacity: 0;
      transform: scale(0.8);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

/* Apply the animation */
.password-icon {
  animation: iconFadeIn 0.3s ease;
}
